#container {
    display:flex;
    flex-direction:row;
}

#buttonColumn {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.mscBtn {
    margin:5%;
}

#mscCont {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content:center;
}